
/Utility/JzDisplay/bin
/Utility/JetEazy/bin
/NeedleX/bin
/NeedleX/.vs
/NeedleX/.vs
/NeedleX/.vs/NeedleX
/NeedleX/.vs/NeedleX
NeedleX/.vs/NeedleX/v17/.suo
NeedleX/.vs/NeedleX/v17/DocumentLayout.json
NeedleX/.vs/NeedleX/FileContentIndex/23e4ad41-52e4-4661-9f71-d93f05012aae.vsidx
NeedleX/.vs/NeedleX/v17/.suo
NeedleX/.vs/NeedleX/v17/DocumentLayout.json
/NeedleX/obj
NeedleX/.vs/NeedleX/v17/DocumentLayout.json
NeedleX/.vs/NeedleX/v17/.suo
/NeedleX/obj
/NeedleX/obj/Debug
/NeedleX/obj
/NeedleX/obj
/Utility/JetEazy/obj/Debug
/Utility/JetEazy/obj
/Utility/JetEazy/obj/Debug
/Utility/JzDisplay/obj/Debug
/Utility/JetEazy/obj/Debug
/Utility/JetEazy
/Utility/JetEazy
/Utility/JetEazy/obj/Debug
/Utility/JetEazy/obj
Utility/JetEazy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
/Utility/JetEazy.OpenCv4/obj
/NeedleX/packages
/Utility/JetEazy.OpenCv4/bin
/Utility/JetEazy.OpenCv4/dlls
/Utility/JetEazy/obj/Debug
/Utility/JetEazy/obj/Debug
